<div *ngIf="afrikaData">
  <h2>Afrika Daten</h2>
  <ul>
    <li *ngFor="let tier of afrikaData.tiere">{{tier.name}}</li>
  </ul>
  <form (submit)="addNewTier('Afrika')">
    Neues Tier: <input [(ngModel)]="newTierName" name="newTierName">
    <button type="submit">Hinzufügen</button>
    <button (click)="downloadData('Afrika')">Daten herunterladen</button>
  </form>
</div>

<hr>

<div *ngIf="asiaData">
  <h2>Asia Daten</h2>
  <ul>
    <li *ngFor="let tier of asiaData.tiere">{{tier.name}}</li>
  </ul>
  <form (submit)="addNewTier('Asia')">
    Neues Tier: <input [(ngModel)]="newTierName" name="newTierName">
    <button type="submit">Hinzufügen</button>
    <button (click)="downloadData('Asia')">Daten herunterladen</button>
  </form>
</div>

<hr>

<div *ngIf="europaData">
  <h2>Europa Daten</h2>
  <ul>
    <li *ngFor="let tier of europaData.tiere">{{tier.name}}</li>
  </ul>
  <form (submit)="addNewTier('Europa')">
    Neues Tier: <input [(ngModel)]="newTierName" name="newTierName">
    <button type="submit">Hinzufügen</button>
    <button (click)="downloadData('Europa')">Daten herunterladen</button>
  </form>
</div>

<hr>

<div *ngIf="sudamerikaData">
  <h2>Sudamerika Daten</h2>
  <ul>
    <li *ngFor="let tier of sudamerikaData.tiere">{{tier.name}}</li>
  </ul>
  <form (submit)="addNewTier('Sudamerika')">
    Neues Tier: <input [(ngModel)]="newTierName" name="newTierName">
    <button type="submit">Hinzufügen</button>
    <button (click)="downloadData('Sudamerika')">Daten herunterladen</button>
  </form>
</div>

